bin/
obj/
**/bin/
**/obj/

.fake
.vs/ProjectEvaluation/smartsales.metadata.v9.bin
.vs/ProjectEvaluation/smartsales.projects.v9.bin
.vs/ProjectEvaluation/smartsales.strings.v9.bin
.vs/SmartSales/CopilotIndices/17.13.433.20974/CodeChunks.db
.vs/SmartSales/CopilotIndices/17.13.433.20974/SemanticSymbols.db
.vs/SmartSales/DesignTimeBuild/.dtbcache.v2
.vs/SmartSales/FileContentIndex/201f64bb-eb99-428b-8cb2-a184a496ed4d.vsidx
.vs/SmartSales/FileContentIndex/ba73cb6d-e49f-4f1d-a30e-c939abc3eea0.vsidx
.vs/SmartSales/FileContentIndex/bf95cee8-f709-4783-889c-bea77151a314.vsidx
.vs/SmartSales/config/applicationhost.config
.vs/SmartSales/v17/.futdcache.v2
.vs/SmartSales/v17/.suo
.vs/SmartSales/v17/DocumentLayout.backup.json
.vs/SmartSales/v17/DocumentLayout.json
